<?php

return [
    'conferencetools' => [
        'payment_providers' => [
            'stripe' => [
                'secret_key' => '',
                'publishable_key' => '',
            ]
        ]
    ]
];